/* Universal Styles */

html {
  font-family: Helvetica, sans-serif;
}

.title {
  font-size: 100px;
  color: khaki;
  text-align: center;
  background-image: url("../img/pattern.jpeg");
}

.bold {
  font-weight: bold;
}

.header {
  font-size: 32px;
  color: white;
}

.highlight {
  color: blue;
}

#green {
  background-color: mediumspringgreen;
}

#red {
  background-color: lightcoral;
}

#blue {
  background-color: skyblue;
}
